name: lint
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        python-version:
          - "3.14"
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
          python-version: ${{ matrix.python-version }}
      - name: Install cli tools
        run: |
          uv tool install yamk
      - name: Install dependencies
        env:
          UV_GROUPS: --no-dev --group lint
        run: |
          yam install
      - name: Lint the project
        run: |
          yam -e lint
